<div id="shape-menu">
  <h2 class="text-center">Shapes</h2>
  <svg class="w-100 shape-row">
    <svg app-shape-stencil shapeType="class" [layer]="dragLayer" x="25" >
      <svg:g>
        <svg:rect x="0" y="0" width="120" height="70" class="shape-row-shape"></svg:rect>
        <svg:text x="20" y="40" class="shape-row-text">
          &lt;&lt;class&gt;&gt;
        </svg:text>
      </svg:g>

    </svg>
    <svg app-shape-stencil shapeType="interface" [layer]="dragLayer" x="170">
      <svg:g>
        <svg:rect x="0" y="0" width="120" height="70" class="shape-row-shape"></svg:rect>
        <svg:text x="10" y="40" class="shape-row-text">
          &lt;&lt;interface&gt;&gt;
        </svg:text>
      </svg:g>

    </svg>
  </svg>
  <svg>

  </svg>
</div>
<div id="drag-layer-wrapper" #wrapper>
  <svg id="drag-layer" #dragLayer>

  </svg>
</div>