/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0;
    padding: 0;
}

span#mousePos {
    position: fixed;
    top: 0;
    left: 50%;
}

app-toolbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    background: lightgray;
    z-index: 0;
}

app-shape-menu {
    top: 15%;
    left: 0;
    width: 20%;
    height: 32.5%;
    position: fixed;
    background-color: #f0f0f0;
    z-index: 0;
}

app-properties {
    top: 15%;
    right: 0;
    width: 15%;
    height: 85%;
    position: fixed;
    background-color: #f0f0f0;
    overflow-y: scroll;
    z-index: 0;
}

app-editor {
    top: 15%;
    left: 20%;
    right: 15%;
    height: 85%;
    width: 70%;
    position: fixed;
    background-color: #fafafa;
    z-index: 0;
}

app-aggregates {
    top: 47.5%;
    left: 0;
    width: 20%;
    height: 25%;
    position: fixed;
    background-color: #f0f0f0;
    z-index: 0;
    overflow-y: scroll;
}

app-bounded-contexts {
    top: 72.5%;
    left: 0;
    width: 20%;
    height: 27.5%;
    position: fixed;
    background-color: #f0f0f0;
    z-index: 0;
    overflow-y: scroll;
}