<!--

<div>
  <svg #panel>
    <svg:g>
      <svg:rect
        [(attr.x)]="x"
        [(attr.y)]="y"
        width="200"
        height="70" style="fill: white; stroke: black; stroke-width: 1;"></svg:rect>
      <svg:text [attr.x]="x" [attr.y]="y" width="200" style="align-content: center;">Class</svg:text>
    </svg:g>
  </svg>
</div> -->

<app-toolbar></app-toolbar>
<div>
  <app-shape-menu></app-shape-menu>
  <app-aggregates></app-aggregates>
  <app-bounded-contexts></app-bounded-contexts>
</div>
<app-editor></app-editor>
<app-properties></app-properties>
<span id="mousePos"> X: {{ mousePos.x }} Y: {{ mousePos.y }}</span>