input, .form-control {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

input + div.input-group-append>button{
    visibility: hidden;
}

input:focus + div.input-group-append>button, input + div.input-group-append>button:hover, .form-control {
    visibility: visible;
}

.add-input {
    background: white;
}

input + div.input-group-append>button.add-element{
    visibility: visible;
}

input:focus {
    background: white;
}

.w-80 {
    width: 80%!important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.material-icons {
    font-size: 16px;
}

.input-group-append button {
    /* padding: .1rem .1rem; */
    line-height: 1;
}
/* input.form-control {
    padding: 0;
} */
.bc-list-item {
    display: block;
    margin: 0.25rem auto;
}

.bc-list-item > span {
    display: inline-block;
    height: 100%;
    padding: 0;
}

.bc-list-item > button {
    height: 100%;
    float: right;
    padding: 0 0.25rem;
}

button > i {
    vertical-align: -1px!important;
}