

<div id="properties-panel">
  <!-- <h2 class="text-center">Properties</h2> -->
<ng-container *ngIf="selectedElement && constr && (constr.name === 'ClassShapeComponent' || constr.name === 'EntityComponent' || constr.name === 'ValueObjectComponent')">
  <h3 class="text-center">Name</h3>
  <div class="w-80 mx-auto input-group input-group-sm mb-1">
    <input class="form-control rounded-0" type="text" [(ngModel)]="selectedElement['name']" name="class-name" />
  </div>
  <h3 class="text-center">Attributes</h3>
  <ul>
    <li *ngFor="let attr of selectedElement['attributes']; let i = index; trackBy:trackFunction">
      <div class="input-group input-group-sm mb-1">
        <input class="form-control rounded-0" [(ngModel)]="selectedElement['attributes'][i]" minlength="1" />
        <div class="input-group-append">
          <button class="btn btn-secondary rounded-0" ngbTooltip="Remove" (click)="removeAttribute(i)">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </li>
    <li>
      <div class="input-group input-group-sm mb-1">
        <input class="form-control rounded-0 add-input" minlength="1" [(ngModel)]="newAttrValue" />
        <div class="input-group-append">
          <button class="btn btn-secondary rounded-0 add-element" ngbTooltip="Add Attribute" (click)="addAttribute()">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <h3 class="text-center">Methods</h3>
  <ul>
    <li *ngFor="let meth of selectedElement['methods']; let i = index; trackBy:trackFunction">
      <div class="input-group input-group-sm mb-1">
        <input class="form-control rounded-0" [(ngModel)]="selectedElement['methods'][i]" minlength="1" />
        <div class="input-group-append">
          <button class="btn btn-secondary rounded-0" ngbTooltip="Remove" (click)="removeMethod(i)">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </li>
    <li>
      <div class="input-group input-group-sm mb-1">
        <input class="form-control rounded-0 add-input" minlength="1" [(ngModel)]="newMethValue" />
        <div class="input-group-append">
          <button class="btn btn-secondary rounded-0 add-element" ngbTooltip="Add Method" (click)="addMethod()">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </li>
  </ul>


    <h3 class="text-center">Aggregate</h3>
    <div class="w-80 mx-auto input-group mb-3">
      <div class="input-group-prepend">
        <label for="aggSelect" class="input-group-text">Aggregate</label>
      </div>
      <select class="custom-select" id="aggSelect" (change)="selectedAggregate($event.target.value)">
        <option value="0">None</option>
        <ng-container *ngFor="let agg of aggregateService.aggregates" >
          <option selected *ngIf="aggregateService.getAggregateForClass(selectedElement) !== null && aggregateService.getAggregateForClass(selectedElement).name === agg.name" [value]="agg.name">
            {{ agg.name }}
          </option>
          <option [value]="agg.name" *ngIf="aggregateService.getAggregateForClass(selectedElement) !== null && aggregateService.getAggregateForClass(selectedElement).name
          !== agg.name">
          {{ agg.name }}
        </option>
        <option [value]="agg.name" *ngIf="aggregateService.getAggregateForClass(selectedElement) === null">
          {{ agg.name }}
        </option>
      </ng-container>
    </select>
  </div>
  <div class="w-80 mx-auto" *ngIf="aggregateService.getAggregateForClass(selectedElement) !== null">
    <input class="" type="checkbox"  name="aggregateRoot" id="chkAggRoot" [checked]="aggregateService.getAggregateForClass(selectedElement) === null ? false : aggregateService.getAggregateForClass(selectedElement).getMember(selectedElement).isAggregateRoot" (change)="triggerAggregateRoot($event.target)">
    <label for="chkAggRoot" class="">Aggregate Root</label>
  </div>


  <h3 class="text-center">Bounded Contexts</h3>
  <div class="w-80 mx-auto input-group mb-3">
    <div class="input-group-prepend">
      <label for="bcSelect" class="input-group-text">Bounded Contexts</label>
    </div>
    <select class="custom-select" id="bcSelect" (change)="selectedBoundedContext($event.target.value)" multiple>
      <option value="0">None</option>
      <ng-container *ngFor="let bc of bcService.contexts">
        <option selected *ngIf="bcService.getBoundedContextForClass(selectedElement) !== null && bcService.getBoundedContextForClass(selectedElement).name === bc.name"
          [value]="bc.name">
          {{ bc.name }}
        </option>
        <option [value]="bc.name" *ngIf="bcService.getBoundedContextForClass(selectedElement) !== null && bcService.getBoundedContextForClass(selectedElement).name
            !== bc.name">
          {{ bc.name }}
        </option>
        <option [value]="bc.name" *ngIf="bcService.getBoundedContextForClass(selectedElement) === null">
          {{ bc.name }}
        </option>
      </ng-container>
    </select>
  </div>
</ng-container>
</div>

