<div id="editor">
  <svg id="editor-panel" #panel>
    <defs>
      <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
        <path d="M 8 0 L 0 0 0 8" fill="none" stroke="lightgray" stroke-width="0.5" />
      </pattern>
      <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
        <rect width="80" height="80" fill="url(#smallGrid)" />
        <path d="M 80 0 L 0 0 0 80" fill="none" stroke="lightgray" stroke-width="1" />
      </pattern>
    </defs>

    <rect width="100%" height="100%" fill="url(#grid)" />
    <!-- <ng-content></ng-content> -->
    <ng-template shapeHost></ng-template>
    <!-- <shape-wrapper *ngFor="let element of this.elements">{{ element.el.nativeElement }}</shape-wrapper> -->
  </svg>
</div>